.form{
    background-color:#000000;
    margin: 7% 35%;
    display: inline-flex;
    padding:10%;
    border: 1em rgb(162, 0, 255) double;
    border-radius: 10%;
}
h1{
    color: white;
}
button{
    margin-top: 1%;
    margin-left: 3%;
}