<button mat-raised-button color="primary" (click)="logout()" style="float: right;">Logout</button>
<div >
    <div>
        <h1>List of Users on this Secure Server </h1>
        <h1>User Locked in successfully</h1>
        <div *ngIf="loading"><mat-spinner diameter="50" color="primary" ></mat-spinner></div>
        <table>
            <tr *ngIf="users">
                <th>No.</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
            </tr>
        </table>

    </div>
</div>
